body {
    margin: 0;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: 'EB Garamond', serif;
    font-size: 2rem;
    margin-left: 3rem;

}

.subtitle {
    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
}

nav {
    margin-right: 3rem;
}

a {
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    padding-right: 2rem;
    font-size: 1.5rem;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

.slideshowContainer {
    position: relative;
    width: 90%;
    height: 70vh;
    margin: auto;
}

.slideshowContainer img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    object-fit: cover;
}

#twenty-twenty-two {
    height: 50vh;
    width: 70rem;
    margin: 3rem auto;
}

#twenty-twenty-one {
    height: 50vh;
    width: 70rem;
    margin: 14rem auto;
}

#twenty-twenty {
    height: 50vh;
    width: 70rem;
    margin: 28rem auto;
}

.image-grid-col-4 {
    grid-column: span 4;
}

.sectionSubtitle {
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-weight: 400;
    margin-left: 1rem;
    text-decoration: underline;
}

.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 200px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-col-2 {
    grid-column: span 1;
}

.image-grid-row-2 {
    grid-row: span 2;
}

@media screen and (max-width: 1024px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}